
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', serif;

}
body{
  height: 100vh;
}

.header-top{
    background-image: url(../assets/images/bg.png);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    padding-top: 30px;

}
.mint-round-red {
  background-image: url(../assets/images/mint-round/41.svg);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  /* ori - height: 215px; */
  height: 382px;
  padding: 92px 334px;
  bottom: 0px;
  position: fixed;
  margin-left: 20%;

}


#seperator1{
  height: 30px;
  }

#seperator{
height: 30px;
}

/* .header-overly{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
} */

.log-img img{
    margin-left: 117px;
    margin-top: -6px;
    height: 140px;
    padding-left: 0px;

}
.log-img h1 {
    font-size: 30px;
    color: #fff;
    display: inline-flex;
}

#time {
  font-size: 70px;
  font-weight: bold;
    color: #fff;
  }
  .time{
    padding-bottom: 5px;
    display: flex;
  }
  p {
    margin-top: 0;
    margin-bottom: -1rem;
}
  small {
    font-size: 30px !important; 
    letter-spacing: 0.5rem;
  }
  
  @media screen and (max-width: 870px){
    #time, small {
      font-size: 20px !important;
    } 
  }
  
  @media screen and (max-width: 576px){
    #time, small {
      font-size: 20px !important;
    } 
  }

  .month {
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    letter-spacing: 3px;
    /* margin-left: 20px; */
    padding-left: 0px 25px 20px 20px;
    padding: 0px 20px 0px 0px;
}

.time {
 
  /* padding: 20px; */
  padding-top: 10px;
  text-align: center;
  justify-content: center;
  margin-right: 261px;
}
.home-text {
  font-size: 30px;
  color: #fff;
  text-align: center;
  justify-content: center;
  margin-right: 190px;
}
.mint-prayer{
  color: #D9D6D6;
    text-align: center;
    justify-content: center;
    width: 100%;
}
.mint-prayer img {
    height: 399px;
    margin-top: -377px;
}
.mint-prayer h1{
  font-size: 500px;
    color: #D9D6D6;
    display: inline;
    animation: fadeIn 1.5s infinite alternate;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



#clock {
  font-size: 70px;
  color: #000;
  font-weight: bold;
  text-align: center;
}
.time-prayer h6{
text-align: center;
  color: #000;
  font-size: 20px;
}


.time-prayer img{
  justify-content: center;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .log-img img {
    height: 68px;
}
.log-img h1 {
  font-size: 18px;
  color: #fff;
  display: inline-flex;
}
.log-img{
  text-align: center;
}
.time {

  /* padding: 20px; */
  padding-top: 10px;
  text-align: center;
  justify-content: center;
  margin-right: 74px;
  width: 100%;
}
.month {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  display: block;
  /* margin-left: 20px; */
  padding-left: 0px 25px 20px 20px;
  padding: 0px 6px 0px 0px;
}

.home-text {
  
  color: #fff;
  text-align: center;
  justify-content: center;
  margin-right: 0px;
}
.mint-prayer h1 {
  color: #fff;
  font-size: 180px;
  display: inline;
}
.mint-prayer img {
  height: 153px;
  margin-top: -96px;
}
.mint-prayer {
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 26px 15px;
}
.mint-round-red {
  background-image: url(../assets/images/WhatsApp_Image_2022-12-03_at_12.17.32_AM-removebg-preview.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  padding: 0px 6px;
  position: fixed;
}

#clock {
  font-size: 19px;
  color: #000;
  text-align: center;
}
.time-prayer h6 {
  color: #000;
  font-size: 10px;
  font-weight: 700;
}
.time-prayer img{
  height: 30px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}