<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

  <!-- <link rel="stylesheet" href="../static/css/bootstrap.min.css" /> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="../static/css/style.css" />
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</head>

<body>
  <section class="header-top">
    <div class="header-overly">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2">
            <div class="log-img">
              <a onclick="jsfunction()" href="#"><img src="../static/assets/images/home.svg" class="img-fluid"
                  alt="" /></a>
              <h1>

              </h1>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="time">
              <p class="month" id="date-upper">--</p>
              <p id="time">--:--:--</p>
            </div>
            <div class="home-text" id="hijri-date">---</div>

          </div>
        </div>
        <div class="row">
          <div class="mint-prayer">
            <h1 id="total_vacancy"></h1>
            <img src="../static/assets/images/man.svg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
      <!-- <div class="container">
            <div class="row"> -->

      <!-- use api : https://solat.my/api/daily/SGR01 -->
      <div class="container-fluid">
        <div class="mint-round-red">
          <div id="seperator1"></div>
          <div id="clock">8:10:45</div>
          <div id="seperator"></div>
          <div class="row">
            <div class="col"></div>
            <div class="col-2">
              <div class="time-prayer">
                <img src="../static/assets/images/icon/sunrise.svg" alt="" />
                <h6 id="time-fajr">-:--</h6>
                <h6>Fajr</h6>
              </div>
            </div>
            <div class="col-2">
              <div class="time-prayer">
                <img src="../static/assets/images/icon/zuhr.svg" alt="" />
                <h6 id="time-zuhr">-:--</h6>
                <h6>Zuhr</h6>
              </div>
            </div>
            <div class="col-2">
              <div class="time-prayer">
                <img src="../static/assets/images/icon/asr.svg" alt="" />
                <h6 id="time-asr">-:--</h6>
                <h6>Asr</h6>
              </div>
            </div>
            <div class="col-3">
              <div class="time-prayer">
                <img src="../static/assets/images/icon/maghrib.svg" alt="" style="padding-left:15px;" />
                <h6 id="time-maghrib" style="font-weight: bold;">-:--</h6>
                <h6>Maghrib</h6>
              </div>
            </div>
            <div class="col-2">
              <div class="time-prayer">
                <img src="../static/assets/images/icon/isya.svg" alt="" />
                <h6 id="time-isya">-:--</h6>
                <h6>Isya</h6>
              </div>
            </div>
            <div class="col"></div>
          </div>
        </div>
      </div>
      <!-- </div>
        </div> -->
    </div>
  </section>

  <script>



    // Update the page with a new random number every second
    function jsfunction() {



      setInterval(function () {
        $.getJSON('/api', function (data) {

          // Convert the fajr prayer time to a Date object
          var fajr = new Date();
          var fajrTime = data.fajr.split(':');
          fajr.setHours(fajrTime[0]);
          fajr.setMinutes(fajrTime[1]);
          fajr.setSeconds(0);

          // Convert the zuhr prayer time to a Date object
          var zuhr = new Date();
          var zuhrTime = data.zuhr.split(':');
          zuhr.setHours(zuhrTime[0]);
          zuhr.setMinutes(zuhrTime[1]);
          zuhr.setSeconds(0);

          // Convert the asr prayer time to a Date object
          var asr = new Date();
          var asrTime = data.asr.split(':');
          asr.setHours(asrTime[0]);
          asr.setMinutes(asrTime[1]);
          asr.setSeconds(0);

          // Convert the maghrib prayer time to a Date object
          var maghrib = new Date();
          var maghribTime = data.maghrib.split(':');
          maghrib.setHours(maghribTime[0]);
          maghrib.setMinutes(maghribTime[1]);
          maghrib.setSeconds(0);

          // Convert the isya prayer time to a Date object
          var isya = new Date();
          var isyaTime = data.isya.split(':');
          isya.setHours(isyaTime[0]);
          isya.setMinutes(isyaTime[1]);
          isya.setSeconds(0);

          // Get the current time
          var now = new Date();
          var now_hours = now.getHours().toString().padStart(2, '0');
          var now_minutes = now.getMinutes().toString().padStart(2, '0');

          // Concatenate the hours and minutes into a single string in the format "hh:mm"
          var nowString = now_hours + ':' + now_minutes;

          // Create an array with the prayer times and the current time
          var times = [fajr, zuhr, asr, maghrib, isya];

          // Sort the array of times based on their value
          times.sort(function (a, b) {
            return a - b;
          });

          // Find the nearest prayer time
          var nearestTime = times[0];
          for (var i = 0; i < times.length - 1; i++) {
            if (times[i] > now) {
              nearestTime = times[i];
              break;
            }
          }

          // Calculate the elapsed time
          var elapsedTime = nearestTime - now;

          if (elapsedTime < 0) {
            elapsedTime += 1000 * 60 * 60 * 24;
          }

          // Convert the elapsed time to hours, minutes, and seconds
          var hours = Math.floor(elapsedTime / (1000 * 60 * 60));
          var minutes = Math.floor((elapsedTime % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((elapsedTime % (1000 * 60)) / 1000);

          // Convert the hours, minutes, and seconds to strings and add leading zeros if necessary
          hours = hours.toString().padStart(2, '0');
          minutes = minutes.toString().padStart(2, '0');
          seconds = seconds.toString().padStart(2, '0');

          // Concatenate the hours, minutes, and seconds into a single string in the format "hh:mm:ss"
          var elapsedTimeString = hours + ' : ' + minutes + ' : ' + seconds;

          // Update the clock element with the elapsed time
          $('#clock').html(elapsedTimeString);
          $('#time').html(nowString);
          $('#time-fajr').html(data.fajr)
          $('#date-upper').html(data.date)
          $('#hijri-date').html(data.hijri)
          $('#time-zuhr').html(data.zuhr)
          $('#time-asr').html(data.asr)
          $('#time-maghrib').html(data.maghrib)
          $('#time-isya').html(data.isya)

          $('#total_vacancy').html(data.num);
          if (data.num < 29) { //green ellipse
            $('.mint-round-red').css('background-image', 'url(../static/assets/images/Ellipse7.svg)');
          }
          else {
            $('.mint-round-red').css('background-image', 'url(../static/assets/images/WhatsApp_Image_2022-12-03_at_12.17.32_AM-removebg-preview.svg)');
          }
        });
      }, 1000);


    }






    const element = document.querySelector('.mint-prayer h1');

    function updateElement() {
      // Update the text of the element
      // element.textContent = 'New text';

      // Reset the animation by removing and re-adding the animation class
      element.classList.remove('fadeIn');
      void element.offsetWidth; // trigger reflow
      element.classList.add('fadeIn');
    }

    setInterval(updateElement, 3000); // update the element every 3 seconds


  </script>

  <!-- <script src="../static/js/bootstrap.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- <script src="../static/js/popper.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

</body>

</html>